<!--no17-->
<div class="maketitle">
<h3 class="makename">Create roadmap</h3>
</div>
<div class="makesub">
<h1 class="makesubname">ロードマップ投稿</h1>
</div>
<!--<%# @roadmap.errors.full_messages.each do |message| %>-->
<!--<div>-->
    <%#= message %>
<!--</div>-->
<!--<%#end%>-->

<div class="roadmaptop">
  <%= form_tag("/roadmap/create") do %>
      <p class="minirtitle">タイトル：</p><input type="text" name="title" class="inputsize">
      <div class="titlebox"></div>
  <div class="newshowmap">
      <p class="inputstadytime">勉強時間：　平日　　　時間</p>
      <input type="number" name="stady_time_week" class="weekstady">
      
      <p class="inputholiday">休日　　　時間</p>
      <input type="number" name="stady_time_holiday" class="holidaystady">
      
      <p class="needperiod">必要期間：　上記のペースで　　　か月</p>
      <input type="number" name="period_stady" class="needmonth">
      
      <p class="totaltimetitle">合計時間：　目安　　　　時間</p>
      <input type="number" name="total_stady_time" class="totaltimeinput">
      
      <p class="commentall">コメント：</p>
      <textarea name="total_comment" class="commentallinput"></textarea>
      
      <p class="genre">ジャンル：</p>
      <input type="radio" name="category_id" value=1 class="genrefront"><p class="fronttitle">フロントエンド</p><input type="radio" name="category_id" value=2 class="genreback"><p class="backtitle">バックエンド</p>
      <input type="radio" name="category_id" value=4 class="genrefree"><p class="freetitle">フリーランス</p>
    </div>
     <input type="submit" value="ロードマップ詳細" class="roadnewsubmit">
    <% end %>
</div>
