<div class="intitle">
<h3 class="titlelog">ログイン</h3>
</div>
<% if @error_massage %>
  <div>
    <%= @error_massage %>
  </div>
<%end%>
<div class="inputlogin">
<%=form_tag("/login") do %>
　<p class="mailtitle">メールアドレス</p>
　<input type="email" value= "<%= @email %>" name="email" class="mailinput">
　
　<p>パスワード</p>
　<input type="password" value= "<%= @password %>" name="password" style="background-color:white">
　
　<input type="submit" value="ログイン">
</div>
<%end%>