<h3>ログイン</h3>
<% if @error_massage %>
  <div>
    <%= @error_massage %>
  </div>
<%end%>
<%=form_tag("/login") do %>
　<p>メールアドレス</p>
　<input type="email" value= "<%#= @user.email %>" name="email">
　
　<p>パスワード</p>
　<input type="password" value= "<%#= @user.password %>" name="password">
　
　<input type="submit" value="ログイン">
<%end%>