<!--NO16-->
<div class="abouttitle">
<img class="about-logo"  src="/user_images/home.jpg">
<p class="subabout">とは？</p>
</div>
<div class="makesub">
<h1 class="makesubname">機能紹介</h1>
</div>
<div class="detailall">
<p class="literal">始めにトップページからフロントエンドエンジニア、バックエンドエンジニア、フリーランスエンジニアの中から希望するエンジニアを選択

選択すると各エンジニアの分野ごとにロードマップが複数載っているので、それらのロードマップにしたがって勉強開始！

新規登録でユーザーを作るとさらに機能が拡張！

1.投稿機能
ロードマップを作成して投稿ができるようになる。あなたの経験で初学者たちを助けよう！

2.いいね！機能
気に入ったロードマップをいいね！することができる。マイページからいいね！したロードマップを見返すことができる。

3.My ロードマップ機能
自分が投稿したロードマップやいいね！をつけたロードマップからマイロードマップに登録することができる。
いつでも自分のロードマップを確認できる！
</p>
</div>