<!--No1-->
<% if flash[:notice]%>
 <div>
   <%= flash[:notice]%>
 </div>
<% end %>
<div class = "top-wrapper">
  <div class = "container">
    <img class = "main-logo"  src="/user_images/home.jpg">
  </div>
</div>
<div clas="contents">
  <div class="content" >
    <%= link_to("/roadmap/1") do %>
    <p class="ti">フロントエンドエンジニア</p>
    <p class="lo">フロントエンド説明</p>
    <%end%>
  </div>
  <div class="content">
    <%= link_to("/roadmap/2") do %>
    <p class="ti">バックエンドエンジニア</p>
    <p class="lo">バックエンド説明</p>
    <%end%>
  </div>
  <div class="content">
    <%= link_to("/roadmap/4") do %>
    <p class="ti">フリーランスエンジニア</p>
    <p class="lo">フリーランス説明</p>
    <%end%>
  </div>
</div>