.main-logo {
  width: 270px;
  display: block;
  margin: auto;
}
　
.container {
  text-align: center;
  margin: 0 auto;
}
.top-wrapper {
  width: 90%;
  margin: 40px auto 30px auto;
  padding: 15px 0;
  background-color: rgb(9, 221, 206);
}


.content{
  margin: 0px auto 30px auto;
  width: 80%;
  display: block;
  text-align: center;
  background-color: rgba(17, 17, 17, 0.7);
}

.content a {
  color: white;
  text-decoration: none;
  
}

.ti{
  padding-top: 0px;
  margin: 0px;
}
.lo {
  padding-bottom: 15px;
}

.front {
  width: 100%;
  hight: 60%;
  border-bottom: solid rgb(9, 221, 206) 7px;
}

.back {
  width: 100%;
  hight: 60%;
  border-bottom: solid rgb(9, 221, 206) 7px;
}

.free {
  width: 100%;
  hight: 60%;
  border-bottom: solid rgb(9, 221, 206) 7px;
}

.what {
  width: 90%;
  color: white;
  background-color: rgb(9, 221, 206);
  margin: 0 auto;
  text-align: center;
}

.sub-logo {
  width: 270px;
  margin-top: 20px;
}

.qes {
  font-size: 60px;
  margin-bottom: 10px;
}

.detail {
  font-size: 18px;
  padding: 0px 40px 10px 40px;
  margin-top: 0px;
  display: inline-block;
  text-align: left;
}

.send {
  font-size: 18px;
  margin-top: 15px;
  display: inline-block;
  text-align: left;
}

.link {
  color: white;
  text-decoration: none;
  border-bottom: solid white 2px;
}