.main-logo {
  width: 270px;
  display: block;
  margin: auto;
}
ã€€
.container {
  text-align: center;
  margin: 0 auto;
}
.top-wrapper {
  width: 90%;
  margin: 40px auto 30px auto;
  padding: 15px 0;
  background-color: rgb(9, 221, 206);
}


.content{
  margin: 0px auto 30px auto;
  width: 80%;
  display: block;
  text-align: center;
  background-color: rgba(17, 17, 17, 0.7);
}

.content a {
  color: white;
  text-decoration: none;
  
}

.ti{
  padding-top: 15px;
  margin: 0px;
}
.lo {
  padding-bottom: 15px;
}

