// topページ
.flash{
  width: 100%;
  height: 60px;
  background-color: red;
  margin: 140px auto 0px auto;
  color: white;
  font-size: 40px;
  line-height: 60px;
  text-align: center;
}

.main-logo {
  width: 700px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
　
.container {
  margin: 0 auto;
}
.top-wrapper {
  width: 90%;
  height: 180px;
  margin: 160px auto 30px auto;
  padding: 15px 0;
  background-color: rgb(9, 221, 206);
  position: relative;
}


.content{
  margin: 0px auto 30px auto;
  width: 80%;
  display: block;
  text-align: center;
  background-color: rgba(17, 17, 17, 0.7);
}

.content a {
  color: white;
  text-decoration: none;
  
}

.ti{
  margin: 15px auto 0px;
  font-size: 25px;
}
.lo {
  font-size: 15.2px;
  padding: 0px 40px 0px 40px;
  margin-bottom: 20px;
  display: inline-block;
  text-align: left;
}

.front {
  width: 100%;
  hight: 60%;
  border-bottom: solid rgb(9, 221, 206) 12px;
}

.back {
  width: 100%;
  hight: 60%;
  border-bottom: solid rgb(9, 221, 206) 12px;
}

.free {
  width: 100%;
  hight: 60%;
  border-bottom: solid rgb(9, 221, 206) 12px;
}

.what {
  width: 90%;
  color: white;
  background-color: rgb(9, 221, 206);
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.sub-logo {
  width: 270px;
  right: 10%;
  position: absolute;
  top: 16%;
  transform: translate(-50%, -50%);
}

.qes {
  font-size: 60px;
  left: 28%;
  position: absolute;
  top: 4%;
  transform: translate(-50%, -70%);
}

.mark{
  font-size: 60px;
  right: 15%;
  position: absolute;
  top: 4%;
  transform: translate(-50%, -70%);
}

.detail {
  font-size: 25px;
  padding: 120px 40px 0px 40px;
  display: inline-block;
  text-align: left;
}

.send {
  font-size: 25px;
  margin-top: 0px;
  display: inline-block;
  text-align: left;
  padding: 0px 0px 0px 40px;
}

.link {
  color: white;
  text-decoration: none;
  border-bottom: solid white 2px;
}

// header部分
.head-logo {
  width: 325px;
  left: 22%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

li {
  float: right;
  margin: auto 15px auto 0px;
}

header {
  width: 100%;
  height: 105px;
  background-color: rgba(17, 17, 17, 0.7);
  position:fixed;
  top: 0px;
  z-index:10;
}

.head {
  width: 100%;
  height: 105px;
  position: relative;
}

ul {
  list-style: none;
  right: 3%;
  position: absolute;
  top: 30%;
  transform: translate(0%,-50%);
}

.head a {
  color: white;
  text-decoration: none;
  font-size: 22px;
}
// hooter部分

.hooter {
  height: 80px;
  width: 90%;
  margin: 0 auto;
  background-color: rgba(17, 17, 17, 0.7);
  position: relative;
  // background-color: cover;
}

.hoot {
  width: 200px;
  left: 15%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.return {
  color: white;
  text-decoration: none;
  font-size: 17px;
  right: 0%;
  position: absolute;
  top: 50%;
  transform: translate(-20%, -50%);
}
  
// 各カテゴリーごとのページ
.bigtitle{
  width: 70%;
  background-color: rgb(9, 221, 206);
  height: 180px;
  margin-top: 105px;
}

.bigtitle p{
  font-size: 45px;
  color: white;
  text-align: center;
  line-height: 180px;
}